<!DOCTYPE html>
<html lang="en" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<title>Insert title here</title>
</head>
<body>
<form th:action="@{/logout}" method="post" id="logout"></form>
<div th:fragment="header_postulacion">
<nav class="navbar navbar-inverse " >
		<div class="container-fluid ">
			<div class="navbar-header ">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Swimming Power</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">La Natación<span class="caret"></span></a>
				 <ul class="dropdown-menu">
				<li><a href="/nuestro_equipo">Nuestro Equipo</a></li>
				<li><a href="/beneficios">Beneficios</a></li>
					
				<li><a href="/postulacion">Potulación</a></li>
				</ul>
				</li>
				</ul>
				
				
					<ul class="nav navbar-nav navbar-right">
					<li><a href="postulacion">Postular<span class="glyphicon glyphicon-user"></span></a></li>
					<li><button type="button" class="btn btn-info btnLogin" onclick="window.location.href='/HomeAdmin'"><span class="glyphicon glyphicon-log-in"></span>  Intranet</button></li>	
					</ul>
						
				<div sec:authorize="hasAuthority('admin')">	
					<ul class="nav navbar-nav navbar-right">
					<li><a href="javascript:;" onclick="document.getElementById('logout').submit();">Cerrar Sesion</a></li>
					</ul>
				</div>
			
			
			
			</div>
			<form th:action="@{/logout}" method="post" id="logout"></form>	
		</div>
	</nav>

</div>


</body>
</html>