<!DOCTYPE html>
<html lang="en" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
<title>Insert title here</title>
</head>
<body>

<div th:fragment="header_admin">
<nav class="navbar navbar-inverse ">
		<div class="container-fluid ">
			<div class="navbar-header ">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Swimming Power</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<!--<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">La Natación<span class="caret"></span></a>
				 <ul class="dropdown-menu">
				<li><a href="">La Natación</a></li>
				<li><a href="">Beneficios></a></li>
				<li><a href="SobreNosotros">Sobre nosotros</a></li>
				</ul>
				</li> -->
				<li class="active"><a href="RegistrarAlumno">Registrar alumnos</a></li>
				
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li><a href="javascript:;" onclick="document.getElementById('logout').submit();">Cerrar Sesion</a></li>
			
		
				</ul>
			</div>
			<form th:action="@{/logout}" method="post" id="logout"></form>
		</div>
	</nav>
</div>

</body>
</html>