<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beneficios de la natación</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/js/script.js" type="text/javascript"></script>
	
</head>
<body>
	
	
	<div th:replace="fragments/header_postulacion :: header_postulacion">&nbsp;</div>


	<div class="jumbotron text-center">
		<h1>Beneficios de la natación</h1>
	
	
	
<div class="container">
  <div class="row">
    <div class="col-md-3">
    	<ul>
         <li>Produce bajo impacto sobre los huesos y articulaciones.</li>
         <li>Mejora del sistema respiratorio y aumento de la capacidad pulmonar.</li>  
         </ul> 
    </div>
      <div class="col-md-3">
      	<ul>
         <li>Mayor flexibilidad y elasticidad para tu cuerpo.</li>  
         <li>Beneficios neuronales y cognitivos.</li>  
        </ul>      
    </div>
    <div class="col-md-3">
    	<ul>
         <li>Óptimo quemador de	 grasas.</li>
         <li>Produce bajo impacto sobre los huesos y articulaciones.</li>  
        </ul>       
    </div>
    <div class="col-md-3">
         <ul>
          <li>Combate enfermedades crónicas como el asma, la diabetes o el colesterol.</li>    
		  <li>Beneficios cardiorespiratorios.</li>
		</ul>    
    </div>
  </div>
   
</div>
<p></p>
<p></p>
<p></p>
	<img src="/img/home/beneficios.jpg"
	alt="Nosotros"
     title="Swimming Power.">
	
	
   
	  

	  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	  
</body>
</html>