<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso de Nataci&oacute;n</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/js/script.js" type="text/javascript"></script>
	
</head>
<body>
	
	<div th:replace="fragments/header_postulacion :: header_postulacion">&nbsp;</div>



	<div class="jumbotron text-center">
		<h1>Curso de Natación</h1>
		<p>Mejora tu condición física y siéntete pleno</p>
	  </div>
	 

	  <div class="alert alert-info" th:if="${param.logout}">
	 		Usted ha salido del sistema
	  </div>
	</div>	  
	  
	  <div class="container ">
		<div class="row  text-center">
			<div class="animated zoomIn delay-1.2s">
			  <div class="col-md-4 ">
				<h3 >Nuestro Equipo</h3>
				<a href="nuestro_equipo"><p><img src="/img/home/landing_1.png"></p></a>
				<p>Nuestro equipo de profesores utiliza las últimas metodolofías ocupadas por deportistas olímpicos. Ideal para quien esté aprendiendo como para el experto.</p>
			  </div>
			</div>		
			<div class="animated zoomIn delay-1.6s">
				<div class="col-md-4">
					<h3>Beneficios</h3>
					<a href="beneficios"><p><img src="/img/home/landing_3.png"></p></a>
					<p>Según estudios de la Universidad de Ropsh Lorsheperd el practicar natación al menos 2 veces por semana reduce el riesgo de contraer enfermedades cardíacas. Además tiene efectos positivos sobre el estado de ánimo.</p>
				</div>
			</div>
				<div class="animated bounceInUp delay-2.3s">
				<div class="col-md-4">
					<h3>Postula</h3>
					<a href="postulacion"> <p><img src="/img/home/landing_2.png"></p></a>
					<p>¿Te gustaría saber más de cómo mejorar tu bienestar y poder nadar como un profesional?</p>
				</div>
			</div>
		</div>
	  <footer class="text-center text-danger">  
		  <hr>
		<a href="http://www.facebook.com" class="fa fa-facebook"></a>
		<a href="http://www.twitter.com" class="fa fa-twitter"></a>
		<a href="http://www.instagram.com" class="fa fa-instagram"></a>
		<a href="http://www.youtube.com" class="fa fa-youtube"></a>

	  </footer>
	  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	  
</body>
</html>