<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>Natación Full Stack Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Dado que cómo no hemos ingresado al sitio, no tenemos acceso a los CSS ni Javascript interno, por lo tanto referenciamos de forma externa a bootstrap -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}"/>
<link href="/css/loginstyle.css" rel="stylesheet" th:href="@{/css/loginstyle.css}"/>


</head>
<body>
<div class="login-form">
	<div class="alert alert-danger" th:if="${param.error}">
		Error en username o password
	</div>
	
	
    <form th:action="@{/login}" method="post">
    	
        <h2 class="text-center">Swimming Power</h2>   
        
         <img src="/img/home/logo.jpg" class="center" id="icon" alt="Natación Full Stack"/>
     
        <div class="form-group">
        	<div class="input-group">
                
                <input type="text" class="form-control" name="username" placeholder="Username" required="required" >
        </div>
		<div class="form-group">
            <div class="input-group">
                
                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
        </div>        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Log In"/>
        </div>
          </div> 
    </form>
  </div>  
  
  

	


<!--Por tema de performance se cargan los script al final de la página para que se cargue la página primero -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
</body>
</html>