<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Equipo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/js/script.js" type="text/javascript"></script>
	
</head>
<body>
	
	
	<div th:replace="fragments/header_postulacion :: header_postulacion">&nbsp;</div>


	<div class="jumbotron text-center">
		<h1>Nuestro Equipo</h1>
	
	
	
<div class="container">
  <div class="row">
    <div class="col-md-8">
         <p class="text-justify">Verónica Navarro, ex Seleccionada naciónal de natación, profesora certificada por el comité olímpico.</p>
         <p class="text-justify">A su haber tiene más de 100 competiciones nacionales e internacionales con más de 20 medallas de primer lugar.</p>
         <p class="text-justify">Actualmente es profesora particular de Swimming Power y sigue compitiendo en categoría senior en competencias organizadas por la administración del estadio Nacional y el comité olímpico de Chile.</p>
    </div>
  </div>
</div>
<p></p>
<p></p>
<p></p>
	<img src="/img/home/nosotros.jpg"
	alt="Nosotros"
     title="Swimming Power.">
	
	
   
	  

	  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
	  
</body>
</html>