<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>




<head>
    <title>Postulacion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/js/script.js" type="text/javascript"></script>

    <script src="/js/postulacion.js" th:href="@{/js/postulacion.js}"></script>
</head>

<body style="background-color: lightblue;">
    <div th:replace="fragments/header_postulacion :: header_postulacion">&nbsp;</div>
    <div class="jumbotron bg-primary text-center">
        <h1>Formulario de postulación</h1>

    </div>



    <div class="container" style="width:35%">
    
    <div class="alert alert-danger" id="msg" hidden="true"></div>
        <div class="card">
                <div class="form-group">
                    <label for="pwd">Rut:</label>
                    <input type="text" class="form-control" id="rut">
                </div>
                <div class="form-group">
                    <label for="email">Nombre:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                    <label for="pwd">Apellido:</label>
                    <input type="text" class="form-control" id="apellido">
                </div>
                <div class="form-group">
                    <label for="pwd">Mail:</label>
                    <input type="text" class="form-control" id="mail">
                </div>
                <div class="form-group">
                    <label for="pwd">Dirección:</label>
                    <input type="text" class="form-control" id="direccion">
                </div>
                <div class="form-group">
                    <label for="pwd">Comuna:</label>
                    <input type="text" class="form-control" id="comuna">
                </div>
                
                
                
                
                <div class="row">
                    <div class="col-md-4">
                        <p>Jueves y Sabado<input class="form-check-input ml-5" type="checkbox" value="1" id="id_curso"></p>

                    </div>
                    <div class="col-md-4">
                        <p>Lunes y Miercoles<input class="form-check-input" type="checkbox" value="2" id="id_curso"></p>

                    </div>
                   

                </div>



                <div>
               </div> 
                <p>
                    <div class="alert alert-danger" id="msg" hidden="true">
                    </div>
        

        <div id="InfoAqui">

        </div>
    </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="javascript:PostulacionController('insert')">
  Postular
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresado correctamente</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        	<div class="thank-you-pop">
							<img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
							<h1>Gracias!</h1>
							<p>Su postulación ha sido enviada. Lo contactaremos para entregarle más información</p>
						
							
 						</div>
      </div>
      <div class="modal-footer">
  
        <button type="button" class="btn btn-primary">OK</button>
      </div>
    </div>
  </div>
</div>



    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <script src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>

</body>

</html>