<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>




<head>
    <title>Registrar Alumno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link href="/css/bootstrap-table.min.css" rel="stylesheet" th:href="@{/css/bootstrap-table.min.css}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src='http://code.jquery.com/jquery-latest.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="/js/script.js" type="text/javascript"></script>

    <script src="/js/registrarAlumno.js" th:href="@{/js/registrarAlumno.js}"></script>
</head>

<body style="background-color: lightblue;">
    <div th:replace="fragments/header_admin :: header_admin">&nbsp;</div>
    <div class="jumbotron bg-primary text-center">
        <h1>Registrar Alumno</h1>

    </div>



    <div class="container" style="width:35%">
    <!-- 
    <div class="alert alert-danger" id="msg" hidden="true"></div>
     -->
        <div class="card">
                <div class="form-group">
                    <label for="pwd">Rut:</label>
                    <input type="text" class="form-control" id="rut">
                </div>
                <div class="form-group">
                    <label for="email">Nombre:</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                    <label for="pwd">Apellido:</label>
                    <input type="text" class="form-control" id="apellido">
                </div>
                <div class="form-group">
                    <label for="pwd">Mail:</label>
                    <input type="text" class="form-control" id="mail">
                </div>
                <div class="form-group">
                    <label for="pwd">Dirección:</label>
                    <input type="text" class="form-control" id="direccion">
                </div>
                <div class="form-group">
                    <label for="pwd">Comuna:</label>
                    <input type="text" class="form-control" id="comuna">
                </div>
                <div class="form-group">
                    <label for="pwd">Telefono:</label>
                    <input type="text" class="form-control" id="telefono">
                </div>
                <div class="form-group">
                    <label for="pwd">Activo:</label>
                    <input type="text" class="form-control" id="activo">
                </div>
               
                <p>
                

                </div>


 
                
                
                    <div class="alert alert-danger" id="msg" hidden="true">
                    </div>
        
        <p>
        
        <div >
    				<div class="btn-group">
                	<button type="button" class="btn btn-primary btn-sm" onclick="javascript:AlumnosController('list')">Listar Alumnos</button>
                	<button type="button" class="btn btn-primary btn-sm" onclick="javascript:AlumnosController('get')">Buscar Alumno</button>
            		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:AlumnosController('insert')">Nuevo Alumno</button>
            		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:AlumnosController('update')">Actualizar Alumno</button>
            		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:AlumnosController('delete')">Eliminar Alumno</button>
            		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:AlumnosController('listPostulante')">Listar Postulante</button>
             		<button type="button" class="btn btn-primary btn-sm" onclick="javascript:AlumnosController('deletePostulante')">Eliminar Postulante</button>
             		
             		</div>
             	</div>

        <div id="InfoAqui">

        </div>
    </div>

    <!-- Modal Alumno-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                    <h4 class="modal-title">Alumno</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" style='height:100%' id='tableDivContainer'>
                        <table class="table table-condensed" id='registrarTable' data-toggle="table" data-height="299">
                            <thead>
                                <tr>
                                    <th data-field="rut">Rut </th>
                                    <th data-field="nombre">Nombre</th>
                                    <th data-field="apellido">Apellido</th>
                                    <th data-field="mail">Mail</th>
                                    <th data-field="direccion">Direccion</th>
                                    <th data-field="comuna">Comuna</th>               									
									<th data-field="telefono">Telefono</th>
									<th data-field="activo">Activo</th>
								
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
     <!-- Modal Postulante-->
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">Close</button>
                    <h4 class="modal-title">Postulante</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive" style='height:100%' id='tableDivContainer'>
                        <table class="table table-condensed" id='verPostulante' data-toggle="table" data-height="299">
                            <thead>
                                <tr>
                                    <th data-field="rut">Rut</th>
                                    <th data-field="nombre">Nombre</th>
                                    <th data-field="apellido">Apellido</th>
                                    <th data-field="mail">Mail</th>
                                    <th data-field="direccion">Direccion</th>
                                    <th data-field="comuna">Comuna</th> 
                                    <th data-field="id_curso">Curso</th>              									
									
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    


    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
    <script src="/js/bootstrap-table.min.js" th:href="@{/js/bootstrap-table.min.js}"></script>

</body>

</html>